<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
		point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
		<hyperlinkDetector 
			id="hyperlink.HyperlinkDetector"
			class="hyperlink.HyperlinkDetector"
			name="Customizable Hyperlink"
			targetId="org.eclipse.ui.DefaultTextEditor">
		</hyperlinkDetector>
	</extension>
</plugin>
